.container{
    text-align: center;
    
} 
table{
    margin: auto;
    height: auto;
    width: auto;
    
}

input{
    
    font-size: 30px;
    height: 45px;
    width: 362px;
    border: 2px solid sienna;
    border-radius: 10px;
}
button{
    font-size: 31px;
    
    width: 90px;
    height: 52px;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 40px;
}
.Calculator{
    display: inline-block;
    background-color:gray;
    padding: 10px;
    border-radius: 10px;
}